.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.card-list
{
    display: flex;
    justify-content: space-between;
}

.card-list .card {

    width: 50%;
    padding: 15px;
    border: 1px solid grey;
    background: whitesmoke;
    margin: 10px;
}
.card-list .card-title {
    font-size: 34px;
    text-align: center;
    padding: 0 0 30px;
    margin: 20px 0;
    border-bottom: 5px solid #e6bb2e;
}

.card.blue .card-title {
    border-bottom-color: #2896af;
}
.card.blue .card-info-border
{
    border-bottom:3px solid #2896af;
}
.card-info-box.blue  .card-info-text_border
{
    color: #2896af;
    font-size: 30px;

}
.card.purple .card-title {
    border-bottom-color: #8c3a82;
}
.card.purple .card-info-border
{
    border-bottom:3px solid #8c3a82;
}
.card-info-box.purple  .card-info-text_border
{
    color: #8c3a82;
    font-size: 30px;

}


.card.green .card-title {
    border-bottom-color: #15b293;
}
.card.green .card-info-border
{
    border-bottom:3px solid #15b293;
}
.card-info-box.green  .card-info-text_border
{
    color: #15b293;
    font-size: 30px;

}


.card-info .card-info-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.card-info .card-info-item + .card-info-item {
    border-top: 2px solid #ddd;
}
.card-info .card-info-title {
    font-size: 23px;
}
.card-info .card-info-text {
    font-size: 18px;
}
.card-info-box
{
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
}
.card-info-border
{
    border: 1px solid gray ;
    width:27%;
    background: white;
    padding: 10px;
    text-align: center;
    border-bottom:3px solid #e6bb2e;
}
.card-info-box .card-info-title_border
{
    font-size: 20px;
    color: black;
}
.card-info-box .card-info-text_border
{
    color: #e6bb2e;
    font-size: 30px;

}
